body{
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.header{
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    background-color: antiquewhite;
    align-items: center;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.genres{
    display: flex;
    justify-content: space-evenly;
    height: 20vh;
    background-color: #0b66a6;
    align-items: center;
    flex-wrap:wrap;
    margin-right: -10px;
    margin-left: -10px;
    padding-left: 40px;


}
.genre{
    width: 14vw;
    color: #fff8f8;
    cursor: pointer;
}
.link a {
    text-decoration: none;
    color: #000000;
    font-size: larger;



}
.link{
    background-color: #67a4ef;
    width: 5vw;
    height: 2vw;
    border-radius: 10px;
    text-align: center;
    padding-top: 0.5vw;
    cursor: pointer;

}

